.app {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
}

.button {
  font-size: 25px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.counter {
  margin-top: 80px;
  font-size: 40px;
  text-align: center;
  font-family: "Helvetica", serif;
}
