<div class="app">
  <div class="buttons">
    <button
      class="button"
      (click)="increase()"
    >
      +
    </button>

    <button
      class="button"
      [disabled]="disableDecrease"
      (click)="decrease()"
    >
      -
    </button>

    <button
      class="button"
      [disabled]="disableDecrease"
      (click)="clear()"
    >
      =
    </button>

  </div>

  <div class="counter">Счетчик = {{ counter }}</div>

  <div *ngIf="updateAt" class="times">
    Обновлялось {{ updateAt | date: "HH:mm:ss dd/MM/yyyy" }}
  </div>
</div>

